/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

.btn-primary {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}
/* Meant to be used for buttons, inactive for now */

fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid #958bb4;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    gap: 15px;
}

.row.col2 {
    display: flex;
    gap: 10px;
}

.msg {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    background-color: #1a1c23;
    color: white;
}
